.wrapper {
  padding: 100px 100px 30vh;
  height: 100vh;
}

.block {
  height: 100%;
  box-shadow: 0 0 10px rgb(83, 83, 83);
  border-radius: 10px;
  background: url(./images/dog.jpg) center no-repeat, linear-gradient(#ff5100, #a200ff);
}




